<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.atstudy.mybatis.mapper.xml.GoodsDTOMapper">
<!-- 
namespace:名称空间;指定为接口的全类名
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);
 -->
	<!-- 新增 -->
	<insert id="create" parameterType="top.atstudy.mybatis.mapper.xml.GoodsDTO"
			useGeneratedKeys="true" keyProperty="goodsId">
		insert into goods(store_id, store_name, goods_type, goods_code, title, tags)
		values (#{storeId}, #{storeName}, #{goodsType}, #{goodsCode}, #{title}, #{tags})
	</insert>

	<!-- 编辑 -->


	<!-- 列表 -->


	<!-- 详情 -->
	<select id="getById" resultType="top.atstudy.mybatis.mapper.xml.GoodsDTO">
		select goods_id goodsId, store_id storeId, tags, title from goods where goods_id = #{goods_id}
	</select>

</mapper>